/* line 1, ../sass/projects.scss */
.main_logo {
  max-width: 735px;
  margin: auto;
}

/* line 6, ../sass/projects.scss */
.main_nav {
  max-width: 735px;
  margin: auto;
  font-family: 'PT Sans Narrow', Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000 !important;
  letter-spacing: 2px;
  line-height: 1.4em;
  text-align: center;
}

/* line 18, ../sass/projects.scss */
.menu-item {
  display: inline-block;
}
/* line 20, ../sass/projects.scss */
.menu-item a {
  padding: 24px 11px;
}

/* line 25, ../sass/projects.scss */
.str_project {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* line 31, ../sass/projects.scss */
.str_project_slider_container {
  position: relative;
  width: 100%;
  padding-bottom: 54%;
  overflow: hidden;
}

/* line 38, ../sass/projects.scss */
.str_project_slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 46, ../sass/projects.scss */
.str_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
/* line 55, ../sass/projects.scss */
.str_slide.active {
  opacity: 1;
}

/* line 60, ../sass/projects.scss */
.str_slide_image {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 65, ../sass/projects.scss */
.str_slide_image img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

/* line 73, ../sass/projects.scss */
.str_next,
.str_previous {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  cursor: pointer;
}

/* line 81, ../sass/projects.scss */
.str_next {
  right: -50px;
}

/* line 84, ../sass/projects.scss */
.str_previous {
  left: -50px;
}
